.git
.cursor
.github
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/*.map
.DS_Store
Thumbs.db
.cache
.local
coverage
.vscode
.idea
app/artifacts/mockup-sandbox/src
app/artifacts/mockup-sandbox/public
app/scripts/src
